extends ../layout/index

block contain
  .p-10
    h1.text-4xl.my-10.font-extrabold.text-center Real
      span.font-normal State
    .mt-8.mx-auto.max-w-md
      h2.text-2xl.font-extrabold.text-center #{page}
      p.text-xl.font-blod.text-center.my-10= msg