header
  .container.mx-auto.flex.items-center.justify-between.py-4.px-8.shadow-lg
    a(href="/")
      h1.text-green-500.text-4xl.font-extrabold.text-center
        | Real
        span.text-green-500.font-normal.ml-1
          | State 

    nav.flex.space-x-6.bg-green-500.px-4.py-2.rounded-lg.shadow-lg.px-4
      a(href="#", class="text-white text-lg font-semibold transition duration-300 ease-in-out transform hover:translate-y-0.5 hover:text-black")
        | My Properties
      a(href="#", class="text-white text-lg font-semibold transition duration-300 ease-in-out transform hover:translate-y-0.5 hover:text-black")
        | My Profile
      a(href="/authentication/log-out", class="text-white text-lg font-semibold transition duration-300 ease-in-out transform hover:translate-y-0.5 hover:text-black")
        | Log Out
